section {
	position: relative; background: #fff;
}

section:before {
	content: "\20"; position: absolute; display: block; left: 0; top: 0; height: 1px; width: 100%; background: rgba(0, 0, 0, .15); -webkit-transform-origin: 50% 0; transform-origin: 50% 0;
	-webkit-transform: scaleY(.5); transform: scaleY(.5); z-index: 1;
}

section:after {
	content: "\20"; position: absolute; display: block; left: 0; bottom: -1px; height: 1px; width: 100%; background: rgba(0, 0, 0, .15); -webkit-transform-origin: 50% 0; transform-origin: 50% 0;
	-webkit-transform: scaleY(.5); transform: scaleY(.5); z-index: 1;
}

.nav {
	position: relative; background: #fff; text-align: center;
}

.nav:after {
	content: "\20"; position: absolute; display: block; left: 0; bottom: -1px; height: 1px; width: 100%; background: rgba(0, 0, 0, .15); -webkit-transform-origin: 50% 0; transform-origin: 50% 0;
	-webkit-transform: scaleY(.5); transform: scaleY(.5);
}

.nav a {
	display: table-cell; width: 1%; line-height: 5rem; font-size: 1.6rem; position: relative;
}

.nav a:after {
	content: '\20'; border-right: solid 1px #ddd; height: 2rem; display: block; position: absolute; top: 50%; right: 0; transform: translateY(-50%); -webkit-transform: translateY(-50%);
}

.nav a:last-child:after {
	display: none;
}

.nav a.on {
	color: #ea5413;
}

.nav a.on:before {
	content: "\20"; position: absolute; display: block; left: 0; bottom: 0; height: 3px; width: 100%; background: #c64107;
}

.cli li {
	position: relative; padding: 1.5rem 0;
}

.cli li:before {
	content: "\20"; position: absolute; display: block; left: 0; top: 0; height: 1px; width: 100%; background: rgba(0, 0, 0, .15); -webkit-transform-origin: 50% 0; transform-origin: 50% 0;
	-webkit-transform: scaleY(.5); transform: scaleY(.5);
}

.item {
	padding: 0 1.5rem; /* background: #f8f8f8; */ border-radius: 3px;
}

.iteminner {
	word-break: break-all;
}

.item:after {
	content: "\20"; /* position: absolute; */ display: block; left: 0; top: 0; height: 1px; width: 100%; background: rgba(0, 0, 0, .1); -webkit-transform-origin: 50% 0; transform-origin: 50% 0;
	-webkit-transform: scaleY(.5); transform: scaleY(.5);
}

.no-item {
	margin-top: 2rem; text-align: center; z-index: 1;
}

.no-item img {
	display: inline-block; width: 16%;
}