.me-banner {
	position: relative;
}

.me-banner a {
	display: block;
}

.me-close {
	position: absolute; display: block; top: 100%; right: 1rem; width: 2rem; height: 3.6rem; background: url(../images/ME-close.png) no-repeat center top/100% 100%;
}

.head {
	padding: 0 1.5rem; background: #fff;
}

.info {
	padding: 1.5rem 0;
}

.userlogodiv {
	float: left; width: 7rem; height: 7rem; border-radius: 100%; overflow: hidden; margin-top: 3px; margin-right: 1rem;
}

.userlogodiv img {
	width: 100%; height: 100%;
}

.usermsg {
	overflow: hidden;
}

.userinfo {
	font-size: 2rem;
}

.partner {
	background: #45b6c7; color: #fff; border-radius: 1rem; font-size: 1.2rem; padding: 0 .5rem; float: left;
}

.member {
	background: #f49105; color: #fff; border-radius: 1rem; font-size: 1.2rem; padding: 0 .5rem; float: left;
}

.consumer {
	background: #cecece; color: #fff; border-radius: 1rem; font-size: 1.2rem; padding: 0 .5rem; float: left;
}

.tit {
	padding: 1rem 1.5rem;
}

.weui-grids {
	background: #fff;
}

.weui-grids:before {
	display: none;
}

.weui-grid-noneborder:after {
	display: none;
}